<!-- 400 html and css files from https://codepen.io/purplexmoss/pen/PoPyzMW -->

<head>
    <link href="{{ url_for('static', filename='404.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="mainbox">
      <div class="err">5</div>
      <i class="far fa-question-circle fa-spin"></i>
      <i class="far fa-question-circle fa-spin"></i>
      <div class="msg">Looks like the website isn't working... Try coming back later!</div>
        </div>